@charset "utf-8";
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3{
    font-family: BMDOHYEON;
}
a:link    { color: gray; }
a:visited { color: gray; text-decoration: none }
a:hover   { color: #81C6E8; text-decoration: none }
a:active  { color: #5837D0; text-decoration: none }

div,img,table{
    margin-left:20px;
}
span{
    margin-left:20px;
}
nav{
    margin-bottom:20px;
}
body{
    background-color: lightgray;
}